<nav class="navbar navbar-expand-sm p-0 w-100 h-100  justify-content-between align-items-center">
	<a class="navbar-toggler no-border p-1" data-toggle="collapse" ><offscreen></offscreen></a>
	<a class="nav-item p-2" title="Recargar la Página" href="javascript:;" ng-click="" reload-app><i class="fa fa-sync-alt"></i></a>
	<div class="d-flex mr-auto"><small>Módulo de {{app.name}} - {{$state.current.data.title}}</small></div>
	<div class="d-flex" ng-hide="true">
		<a class="nav-item p-2" title="Organización" href="javascript:;" ><i class="fa fa-building"></i></a>
		<a class="nav-item p-2" title="Empleados" href="javascript:;" ><i class="fa fa-users"></i></a>
		<a class="nav-item p-2" title="Planillas" href="javascript:;" ><i class="fa fa-dollar"></i></a>
		<a class="nav-item p-2" title="Reclutamiento" href="javascript:;" ><i class="fa fa-user-plus"></i></a>
		<a class="nav-item p-2" title="Asistencia" href="javascript:;" ><i class="fa fa-clock-o"></i></a>
		<a class="nav-item p-2" title="Capacitaciones" href="javascript:;" ><i class="fa fa-plus-square-o"></i></a>
		<a class="nav-item p-2" title="Evaluación del Desempeño" href="javascript:;" ><i class="fa fa-plus-square-o"></i></a>
		<a class="nav-item mr-auto p-2" title="Reportes" href="javascript:;" ><i class="fa fa-plus-square-o"></i></a>
	</div>
	<a class="nav-item p-2" title="Aplicaciones" href="javascript:;" quick-launch><i class="fa fa-th"></i></a>
	<a class="nav-item p-2" title="Config Panel" href="javascript:;" ng-click="app.isConfigVisible=!app.isConfigVisible;app.isConfigOpen = !app.isConfigOpen;"><i class="fa fa-sliders-h"></i></a>
	<a class="nav-item p-2" title="Indicadores" href="javascript:;" ng-click="app.layout.isChatOpen = !app.layout.isChatOpen" ><i class="fa fa-chart-line"></i></a>
	<div class="dropdown pl-1 pr-1">
		<a data-toggle="dropdown" href="javascript:;" role="button"><img data-ng-src="src/images/{{user.avatar}}" class="header-avatar img-circle " alt="User?" title="{{user.fname}}"></a>
		<ul class="dropdown-menu p-0" style="right:0;left:auto">
			<li>
				<a class="dropdown-item" href="javascript:;">
					<div class="d-flex justify-content-start align-items-center"">
						<img data-ng-src="src/images/{{user.avatar}}" class="header-avatar img-circle mr-1" height="35" alt="User?" title="{{user.fname}}">
						<div>
							<div>{{ user.fname+' '+user.lname }}</div>
							<div>{{ user.email || '-' }}</div>
						</div>
					</div>
				</a>
			</li>
			<li class="dropdown-divider"></li>
			<li><a class="dropdown-item" href="javascript:;">Ayuda</a></li>
			<li><a class="dropdown-item" href="javascript:;">Perfil</a></li>
			<li class="dropdown-divider"></li>
			<li><a class="dropdown-item" ui-sref="session.lockscreen">Bloquear<i class="fa fa-lock float-right fa-fw"></i></a></li>
			<li><a class="dropdown-item" ui-sref="login">Cerrar sesion<i class="fa fa-power-off float-right fa-fw"></i></a></li>
		</ul>
	</div>
	<a id="header" class="nav-item p-2" alt="Pantalla Completa" href="javascript:;" full-screen><i ng-class="{'fa fa-expand':app.layout.isFullScreen, 'fa fa-compress':!app.layout.isFullScreen }"></i></a>
	<a id="header" class="nav-item p-2" alt="Cerrar" href="javascript:;" ng-click="close()"><i class="fa fa-times"></i></a>
</nav>

<div class="modal fade" id="pf" tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header p-1">
				<h5 class="modal-title">Cambio de contraseña - {{user.firstName}}</h5> 
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-1">
				<form name="passForm" novalidate>
					<div class="form-group p-1 m-0">
						<input type="password" id="1" ng-model="p0" class="form-control input-lg" name="pass0" placeholder="Contraseña actual" minlength="5" maxlength="8" required>
					</div>
					<div class="form-group p-1 m-0" ng-class="{ 'has-error' : passForm.pass1.$invalid && passForm.pass1.$touched, 'has-success' : passForm.pass1.$valid }">
						<input type="password" ng-model="p1" id="2" class="form-control input-lg" id="pass1" name="pass1" placeholder="Contraseña" minlength="5" maxlength="8" required>
						<small style="color:maroon;" class="p-1" ng-show="passForm.pass1.$invalid && passForm.pass1.$touched"><i class="fa fa-info-circle mr-1"></i>La contraseña debe tener entre 5 y 8 caracteres.</small>
					</div>
					<div class="form-group p-1 m-0" ng-show="passForm.pass1.$valid">
						<input type="password" id="3" ng-model="p2" class="form-control input-lg" name="pass2" placeholder="Repita su contraseña" minlength="5" maxlength="8" required>
					</div>
				</form>
				<div class="p-2" ng-show="!(passForm.pass1.$viewValue==passForm.pass2.$viewValue)&&passForm.pass1.$valid&&passForm.pass2.$touched"><small style="color:maroon;"><i class="fa fa-info-circle mr-1"></i>Las contraseñas no coinciden!</small></div>
			</div>
			<div class="modal-footer p-1">
				<!-- ng-class="{ 'has-error' : !(addDedFrm.pri.$viewValue || addDedFrm.seg.$viewValue)&&(addDedFrm.pri.$touched||addDedFrm.seg.$touched)}"> -->
				<button class="btn btn-outline-success btn-xs m-0" ng-click="savePass()" ng-hide="!passForm.$valid || !(passForm.pass1.$viewValue==passForm.pass2.$viewValue) "><i class="fa fa-save pr-1"></i><span>Guardar</span></button>
				<button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>