<!-- <div class="configuration-cog" data-ng-click="app.isConfigOpen = !app.isConfigOpen"><i class="fa fa-toggle-off"></i></div> -->
<div class="configuration-options" > 
	<div class="title font-weight-normal">Configuración</div>
	<div class="option d-flex flex-row"><span class="mr-auto">Encabezado Fijo</span><label class="switch switch-sm pull-right m-0"><input type="checkbox" ng-model="app.layout.isFixedHeader"><span><i class="handle"></i></span></label></div>
	<div class="option d-flex flex-row"><span class="mr-auto">Menu Colapsado</span><label class="switch switch-sm pull-right m-0"><input type="checkbox" ng-model="app.layout.isSmallSidebar"><span><i class="handle"></i></span></label></div>
	<div class="option d-flex flex-row"><span class="mr-auto">Barra de Indicadores abierta</span><label class="switch switch-sm pull-right m-0"><input type="checkbox" ng-model="app.layout.isChatOpen"><span><i class="handle"></i></span></label></div>
	<!-- <div class="option"><span>Menu Estático</span><label class="switch switch-sm pull-right"><input type="checkbox" ng-model="app.layout.isStaticSidebar"><span><i class="handle"></i></span></label></div> -->
	<div class="option d-flex flex-row"><span class="mr-auto">Menu a la Derecha</span><label class="switch switch-sm pull-right m-0"><input type="checkbox" ng-model="app.layout.isRightSidebar"><span><i class="handle"></i></span></label></div>
	<div class="option d-flex flex-row"><span class="mr-auto">Pie Fijo</span><label class="switch switch-sm pull-right m-0"><input type="checkbox" ng-model="app.layout.isFixedFooter"><span><i class="handle"></i></span></label></div>
	<div class="title font-weight-normal" >Esquema de Colores</div>
	<div class="option styles">
		<label ng-click="app.layout.sidebarTheme='sidebar-skin-default'">
			<input type="radio" name="sidebar-choice" ng-model="app.layout.sidebarTheme" value="sidebar-skin-default">
			<i class="fa fa-check"></i>
			<div style="background-color:#9a9a76;"></div>
			<div style="background-color:purple;"></div>
			<div style="background-color:#9a9a76;"></div>
		</label>
		<label ng-click="app.layout.sidebarTheme='sidebar-skin-nevada'">
			<input type="radio" name="sidebar-choice" ng-model="app.layout.sidebarTheme" value="sidebar-skin-nevada">
			<i class="fa fa-check"></i>
			<div style="background-color:#656D78;"></div>
			<div style="background-color:brown;"></div>
			<div style="background-color:#656D78;"></div>
		</label>
		<label ng-click="app.layout.sidebarTheme='sidebar-skin-dark'">
			<input type="radio" name="sidebar-choice" ng-model="app.layout.sidebarTheme" value="sidebar-skin-dark">
			<i class="fa fa-check"></i>
			<div style="background-color:black;"></div>
			<div style="background-color:yellow;"></div>
			<div style="background-color:black;"></div>
		</label>
		<label ng-click="app.layout.sidebarTheme='sidebar-skin-smart-blue'">
			<input type="radio" name="sidebar-choice" ng-model="app.layout.sidebarTheme" value="sidebar-skin-smart-blue">
			<i class="fa fa-check"></i>
			<div style="background-color:#dd7676;"></div>
			<div style="background-color:darkblue;"></div>
			<div style="background-color:#597d8c;"></div>
		</label>
		<label ng-click="app.layout.sidebarTheme='sidebar-skin-eastbay'">
			<input type="radio" name="sidebar-choice" ng-model="app.layout.sidebarTheme" value="sidebar-skin-eastbay">
			<i class="fa fa-check"></i>
			<div style="background-color:whitesmoke;"></div>
			<div style="background-color:slateblue;"></div>
			<div style="background-color:white;"></div>
		</label>
		<label ng-click="app.layout.sidebarTheme='sidebar-skin-hoki'">
			<input type="radio" name="sidebar-choice" ng-model="app.layout.sidebarTheme" value="sidebar-skin-hoki">
			<i class="fa fa-check float"></i>
			<div style="background-color:plum;"></div>
			<div style="background-color:navy;"></div>
			<div style="background-color:plum;"></div>
		</label>
	</div>
	<div class="title font-weight-normal" >Fuente</div>
</div>
