<div class="brand">
	<div class="brand-logo"><a href="http://centec.hn/" target="_blank"><img ng-src="src/images/logo.png" height="20" alt="" ></a></div>
	<a href="javascript:;" class="toggle-sidebar" ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
		<i ng-class="{'fa fa-arrow-right':app.layout.isSmallSidebar==true,'fa fa-arrow-left': app.layout.isSmallSidebar==false}"></i>
	</a>
</div>
<nav role="navigation" side-navigation >
	<ul class="nav">
		<li ui-sref-active="active"><a href="#!/dash"><i class="fa fa-home" ></i><span>Dashboard</span></a></li>
		<li ng-repeat="m in menu | orderBy: 'name'" ng-class="{open: $state.includes('{{m.state}}')}" ng-show="m.isVisible==1 || user.userName=='root'" side-navigation>
			<a href="javascript:;"><i class="{{m.icon}}"></i><span>{{m.name}}</span></a>
			<ul class="sub-menu">
				<li ng-repeat="r in list | orderBy: 'name'" ui-sref-active="active" ng-show="m.id == r.module && r.inMenu==1 || m.id == r.module && user.userName=='root'" side-navigation>
					<a ui-sref="{{r.state}}"><span>{{r.name}}</span></a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
