::-webkit-scrollbar{width:5px}
::-webkit-scrollbar-track{background:white}
::-webkit-scrollbar-thumb{background:#3e5e8f}
body .logRoot{  width: 5px; height: 5px; background:#f0f0f0}
body .dataTables_wrapper input.form-control{display:inline-block !important;width:auto;padding-top:2px;padding-bottom:2px !important}
body .dataTables_wrapper select.form-control{display:inline-block !important;width:auto;padding-right: 0px;padding-left: 0px;padding-bottom: 2px;padding-top: 2px; height: 22px !important}
@media print{body .dataTables_length{display: none !important}}
@media print{body .dataTables_filter{display: none !important}}
@media print{body .dataTables_info{display: none !important}}
@media print{body .dataTables_paginate{display: none !important}}