<div class="d-flex">
	<div class="card w-100 ">
		<div class="card-header p-1">
			<div class="d-flex">
				<form class="form-inline d-flex justify-content-end">
					<div class="form-group sm pr-2 mr-auto">
						<label class="control-label bold pr-1 align-self-auto">Período:</label>
						<input class="form-control input-xs p-1" ng-model="rango" type="text" name="daterange" required/>
					</div>
				</form>
				<div>
					<button class="btn btn-default btn-outline btn-xs " title="Horas Extras por Día" ng-click="showLine()"><i class="fa fa-area-chart"></i></button>-Horas Extras por Día
					<button class="btn btn-outline btn-xs " title="Horas Extras por Empleado Mensual" ng-click="showBar()"><i class="fa fa-bar-chart"></i></button>-Horas Extras por Empleado
					<button class="btn btn-default btn-outline btn-xs" title="Cambiar el color" id="cp" style="background-color:{{myColor}} " ng-show="showLineChart||showBarChart"><i class="fa fa-paint-brush"></i></button>
				</div>			
			</div>
		</div>
		<div class="card-body" ng-show="showLineChart"><canvas id="lineChart"></canvas></div>
		<div class="card-body" ng-show="showBarChart"><canvas id="barChart"></canvas></div>
	</div>
</div>
