<!--<div class="card" style="width: 20rem;" id="1" >
	<div class="card-body">
		<h4 class="card-title"><img class="card-img-top mr-2" src="src/images/appmanager.jpg" alt="App Manager icon..." style="width:28px;height:28px;">App Manager</h4>
		<p class="card-text">Administrador de Aplicaciones (porque se escucha más bonito...) o Módulos del Sistema (porque técnicamente eso son.)</p>
		<a href="#" class="btn btn-primary" ng-click="">Comenzar</a>
	</div>
</div>
<div class="card" style="width: 20rem;" id="2" >
	<div class="card-body">
		<h4 class="card-title"><img class="card-img-top mr-2" src="src/images/appmanager.jpg" alt="App Manager icon..." style="width:28px;height:28px;">App Manager</h4>
		<p class="card-text">Administrador de Aplicaciones (porque se escucha más bonito...) o Módulos del Sistema (porque técnicamente eso son.)</p>
		<a href="#" class="btn btn-primary" ng-click="">Comenzar</a>
	</div>
</div> -->