<div class="d-flex w-100 " ng-hide="user.userName!='root'">
<!-- <div class="d-flex w-100 " ng-hide="true"> -->
	<!-- <div class="card" style="width: 20rem;">
		<div class="card-body">
			<h4 class="card-title">Pendiente</h4>
			<h6 class="card-subtitle mb-2 text-muted">Formualrio  - Ingreso de Solicitud:</h6>
			<p class="card-text">Habilitar temporalmente el campo para ingresar la fecha (para poder meter datos de prueba)???.</p>
		</div>
	</div> -->
	<div class="card w-100 p-0 border-dark d-print-none" id="overReqsForm">
		<div class="card-header p-2">
			<div class="d-flex text font-weight-bold">Planilla de Horas Extras</div>
			<form class="form-inline d-flex justify-content-end">
				<div class="form-group sm pr-2 mr-auto">
					<label class="control-label bold pr-1 align-self-auto">Período:</label>
					<input class="form-control input-xs p-1" ng-model="rango" type="text" name="daterange"  value="2017-06-01 - 2017-07-31" required/>
				</div>
				<div class="btn-toolbar">
					<a href="javascript:window.print()" class="btn btn-outline-success btn-xs d-print-none" title="Imprimir Planilla" ng-show="showPrinter==true"><i class="fa fa-print"></i></a> 
				</div>
			</form>
		</div>
		<div class="card-body p-2">
			<table id="reqsTable" class="display">
				<thead>
					<th>Empleado</th>
					<th>Fecha</th>
					<th>Estimado</th>
					<th>Real</th>
					<th ng-repeat="o in overtime" class="text-right">{{o.name}} </th>
					<th>Salario</th>
					<th>Devengado</th>
					<th>Estado</th>
				</thead>
				<tfoot>
					<tr>
						<th>Totales...</th>
						<th>-</th>
						<th>-</th>
						<th>-</th>
						<th>-</th>
						<th>-</th>
						<th>-</th>
						<th>-</th>
						<th>-</th>
						<th>-</th>
						<th>-</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>