<div class="card">
	<div class="card-header p-1">
		<div class="d-flex justify-content-end align-items-center">
			<div class="mr-auto font-weight-bold">Catálogo de Horas Extras</div>
			<a href="javascript:;" class="btn btn-outline-success btn-xs mr-1" title="Agregar Hora Extra" ng-click="add()"><i class="fa fa-clock-o mr-1"></i>Agregar Hora Extra</a>
			<a href="javascript:;" class="btn btn-outline-dark btn-xs" title="Refrescar lista" ng-click="loadOvertime()"><i class="fa fa-repeat"></i></a>
		</div>
	</div>
	<div class="card-body p-0">
		<table class="table table-bordered table-condensed align-middle m-0">
			<thead><tr class="bold"><td >Tipo</td><td >Inicio</td><td >Fin</td><td >Porcentaje</td><td >Acciones</td></tr></thead>
			<tr ng-repeat="o in overtime">
				<td><span editable-text="o.name" e-name="name" e-form="rowform" required pattern="^[a-zA-Z]*$" ng-pattern-restrict onbeforesave="checkName($data, o.id)" e-required>{{ o.name || 'Vacío' }}</span></td>
				<td><span editable-time="o.start" e-name="start" e-form="rowform" e-required>{{ (o.start | date:'HH:mm') || 'Vacío' }}</span></td>
				<td><span editable-time="o.end" e-name="end" e-form="rowform" e-required>{{ (o.end | date:'HH:mm') || 'Vacío' }}</span></td>
				<td><span editable-number="o.percent" e-name="percent" e-form="rowform" e-required>{{ o.percent || 'Vacío' }}</span></td>
				<!-- <td align="left">
					<a href="javascript:;" class="btn btn-outline-success btn-xs p-0" title="Editar" ng-click=""><i class="fa fa-pencil fa-fw"></i></a>
					<a href="javascript:;" class="btn btn-outline-danger btn-xs p-0" title="Eliminar" ng-click=""><i class="fa fa-trash fa-fw"></i></a>
				</td> -->
				<td style="white-space: nowrap">
					<form editable-form name="rowform" onbeforesave="save($data, o.id, o.name, o.start, o.end,o.percent)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == o">
						<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-xs">Guardar</button>
						<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default btn-xs">Cancelar</button>
					</form>
					<div class="buttons" ng-show="!rowform.$visible">
						<button class="btn btn-primary btn-xs" ng-click="rowform.$show()">editar</button>
						<button class="btn btn-danger btn-xs" ng-click="removeUser($index)">borrar</button>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="card-footer"></div>
</div>
<div class="d-flex"></div>