<div class="eq-col">
  <div class="relative full-height">
    <div class="display-row">

      <!-- error wrapper -->
      <div class="center-wrapper error-page">
        <div class="center-content text-center">
          <div class="error-number">
            <span>404</span>
          </div>
          <div class="h5">PAGINA NO ENCONTRADA</div>
          <p>Lo sentimos, la página que Usted trata de accesar no fue encontrada.</p>
        </div>
      </div>
      <!-- /error wrapper -->

    </div>
  </div>
</div>
