<div class="card mb-1" id="reqsForm">
	<div class="card-header p-2">
		<div class="d-flex justify-content-end align-items-center">
			<div class="mr-auto">Aprobación de Solicitudes de Horas Extras</div>
			<button class="btn btn-default btn-outline btn-xs" title="Refrescar..." ng-click="refresh();"><i class="fa fa-repeat"></i></button>
		</div>
	</div>
	<div class="card-body p-2">
		<table datatable="ng" > 
			<thead>
				<th>Empleado</th>
				<th>Fecha</th>
				<th>Estimado</th>
				<th>Ejecutado</th>
				<th ng-repeat="o in overtime" class="text-right" ng-show="isAdmin">{{o.name}} </th>
				<th>Tipo</th>
				<th>Estado</th>
				<!-- <th>Observaciones</th> -->
			</thead>
			<tbody>
				<tr ng-repeat="r in requests | orderBy:'date'" ng-class="{'text-primary':r.state=='Autorizada','text-warning':r.state=='Pendiente','text-muted':r.state=='Cerrada','text-danger':r.state=='Rechazada'||r.state=='Devuelta' }" >
					<td>{{ r.firstName }}</td>
					<td title="{{r.date}}">{{ r.date |date : 'EEE, dd-MMM-yyyy'}}</td>
					<td class="text-center">{{ r.estimatedTime }}</td>
					<td class="text-right">{{ r.totalHoras }}</td>
					<td ng-repeat="o in overtime" class="text-center" ng-show="isAdmin">{{r.t[$index]>0 ? r.t[$index] : '-'}}</td>
					<td>
						<i ng-class="{'fa fa-windows':r.class=='Ventana','fa fa-building-o':r.class=='Normal','fa fa-home':r.class=='Interna'}"></i>
						-{{ r.class }}
					</td>
					<td>
						<button type="button" ng-click="changeState(r)" class="btn btn-outline btn-xs" ng-class="{'btn-primary':r.state=='Autorizada','btn-success':r.state=='Aprobada', 'dtn-default':r.state=='Cerrada','btn-warning':r.state=='Pendiente','btn-danger':r.state=='Rechazada'||r.state=='Devuelta'}" >
							<i ng-class="{'fa fa-thumbs-up':r.state=='Autorizada','fa fa-thumbs-o-up':r.state=='Aprobada','fa fa-warning':r.state=='Pendiente'||r.state=='Devuelta', 'fa fa-thumbs-o-down':r.state=='Rechazada', 'fa fa-pencil-square-o':r.state=='Cerrada' }"></i>
						</button>
						-{{ r.state }}
					</td>
					<!-- <td>{{ r.observations }}</td> -->
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row" ng-show="showDetail" ng-class="{'animated fadeInDown 0.5': showDetail==true,'animated fadeOutUp 0.5': showDetail==false}">
	<div class="col-sm-7">
		<div class="card p-1">
			<div class="card-header p-2">
				<div class="d-flex justify-content-end">
					<div class="mr-auto">{{ estado }}</div>	
				</div>
			</div>
			<div class="card-body p-2">
				<table class="table table-bordered m-0 p-0">
					<thead>
						<th>Fecha</th>
						<th>Inicio</th>
						<th>Fin</th>
						<th>Actividades</th>
					</thead>
					<tbody>
						<tr ng-repeat="a in detail">
							<td>{{ a.activityDate |date:'EEE, dd-MMM-yyyy'}}</td>
							<td>{{ a.activityDate+'T'+a.startTime |date:'h:mm a'}}</td>
							<td>{{ a.activityDate+'T'+a.endTime |date:'h:mm a'}}</td>
							<td>{{ a.activities }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer p-2">
				<div class="d-flex justify-content-end">
					<div class="bg-success text-white">{{estado}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-5">
		<div class="card p-1" >
			<div class="card-header p-2">Estado</div>
			<div class="card-body p-2">
				<form class="form-horizontal" id="stateForm" name="stateForm" novalidate>
					<div class="form-row align-items-end">
						<div class="col-sm-4" >
							<div class="radio"><label class="text"><input ng-model="req.state" type="radio" name="optionsRadios" id="1" value="Aprobada" ng-checked="true">Aprobada</label></div>
							<div class="radio"><label class="text"><input ng-model="req.state" type="radio" name="optionsRadios" id="2" value="Rechazada">Rechazada</label></div>
							<div class="radio"><label class="text"><input ng-model="req.state" type="radio" name="optionsRadios" id="3" value="Devuelta">Devuelta</label></div>
							<div class="radio"><label class="text"><input ng-model="req.state" type="radio" name="optionsRadios" id="4" value="Cerrada" ng-disabled>Cerrada</label></div>
							<div class="radio"><label class="text"><input ng-model="req.state" type="radio" name="optionsRadios" id="5" value="Autorizada">Autorizada</label></div>
						</div>
						<div class="col-sm-8">
							<label class="text m5">Notas:</label>
							<textarea class="form-control" type="text" ng-model="req.observations" name="notas" id="notas" rows="4" required></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="card-footer d-flex justify-content-end p-2">
				<button class="btn btn-outline btn-xs mr-1" ng-click="updateState(req)" ng-class="{'btn-success' : stateForm.$valid}"><i class="fa fa-send"/> Actualizar</button>
				<button class="btn btn-outline-secondary btn-xs" ng-click="closeDetail(stateForm)"><i class="fa fa-close"></i> Salir</button>
			</div>
		</div>
	</div>
</div>
