<div class="d-flex h-100 justify-content-center">
	<div class="card border-light align-self-center">
		<img class="card-img-top w-50 align-self-center m-2" src="src/images/logo-dark.png" class="img-fluid" alt="CENTEC" >
		<div class="card-body m-2 p-0">
			<p class="card-text text-center mb-0">Crear cuenta</p>
			<form>
				<div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required, 'has-success' : form.firstName.$valid }">
					<input type="text" ng-model="user.fname" name="firstName" id="1" class="form-control input-md" placeholder="Nombre" required/>
					<tt style="color:maroon; font-size:10px; font-weight:bold" ng-show="form.firstName.$dirty && form.firstName.$error.required">Escriba su nombre por favor.</tt>
				</div>
				<div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required, 'has-success' : form.lastName.$valid }">
					<input type="text" ng-model="user.lname" name="lastName" id="2" class="form-control input-md" placeholder="Apellido" required />
					<tt style="color:maroon; font-size:10px; font-weight:bold" ng-show="form.lastName.$dirty && form.lastName.$error.required">Escriba su apellido por favor.</tt>
				</div>
				<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required, 'has-success' : form.username.$valid }">
					<input type="text" ng-model="user.login" name="username" id="3" class="form-control input-md" placeholder="Usuario" autofocus required maxlength="10" pattern="^[a-zA-Z]*$" ng-pattern-restrict>
					<tt style="color:maroon; font-size:10px; font-weight:bold" ng-show="form.username.$dirty && form.username.$error.required">Escriba su nombre de usuario por favor.</tt>
				</div>
				<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required, 'has-success' : form.password.$valid }">
					<input type="password" ng-model="user.password" name="password" id="4" class="form-control input-md" placeholder="Contraseña" required/>
					<tt style="color:maroon; font-size:10px; font-weight:bold" ng-show="form.password.$dirty && form.password.$error.required">Escriba su contraseña por favor.</tt>
				</div>
				<div class="form-group">
					<button class="btn btn-success btn-block" type="submit" ng-click="signup()">Crear la cuenta</button>
				</div>
			</form>
		</div>
	</div>
</div>
