<div class="card">
	<div class="card-header p-1">
		<div class="d-flex justify-content-end align-items-center">
			<div class="mr-auto">Listado de perfiles</div>
			<a href="javascript:;" class="btn btn-outline-success btn-xs mr-1" ng-click="add()"><i class="fa fa-plus mr-1"></i>Agregar Perfil</a>
			<a href="javascript:;" class="btn btn-outline-dark btn-xs" title="Refrescar lista" ng-click="loadProfiles()"><i class="fa fa-redo-alt"></i></a>
		</div>
	</div>
	<div class="card-body p-0">
		<table class="table table-bordered table-condensed align-middle m-0">
			<tr class="bold">
				<th>Nombre</th>
				<th>Descripcion</th>
				<th>Estado</th>
				<th class="center">Acciones</th>
			</tr>
			<tr ng-repeat="profile in profiles | orderBy:'id'">
				<td><span editable-text="profile.name" e-name="name" e-form="rowform" required pattern="^[a-zA-Z]*$" ng-pattern-restrict onbeforesave="checkName($data, profile.id)" e-required>{{ profile.name || 'Vacío' }}</span></td>
				<td><span editable-text="profile.description" e-name="description" e-form="rowform" e-reqired>{{ profile.description }}</span>  </td>
				<td><span editable-text="profile.state" e-name="state" e-form="rowform" e-required>{{ profile.state || 'Vacío' }}</span></td>
				<td style="white-space: nowrap">
					<form editable-form name="rowform" onbeforesave="saveUser($data, profile.id, profile.name, profile.state)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == profile">
						<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-xs mr-1"><a href="javascript:;">Guardar</a></button>
						<button type="button" ng-disabled="rowform.$waiting" class="btn btn-default btn-xs" ng-click="rowform.$cancel()">Cancelar</button>
					</form>
					<div class="buttons" ng-show="!rowform.$visible">
						<div ng-hide="true">
							<a href="javascript:;" title="Editar" class="btn-outline-success mr-1"><i class="fa fa-pencil-alt " ng-click="rowform.$show()"></i></a>
							<a href="javascript:;" title="Eliminar" class="btn-outline-danger mr-1"><i class="fa fa-trash-alt"></i></a>
							<a href="javascript:;" title="Asignar Recursos" class="btn-outline-primary mr-1"><i class="fa fa-list"></i></a>
						</div>
						<div>
							<button class="btn btn-outline-success btn-xs" title="Editar" ng-click="rowform.$show()"><i class="fa fa-pencil-alt fa-fw"></i></button>
							<button class="btn btn-outline-danger btn-xs" title="Eliminar" ng-click="remove($index)"><i class="fa fa-trash-alt fa-fw"></i></button>
							<button class="btn btn-outline-primary btn-xs" title="Asignar resursos" data-toggle="modal" data-target="#profileResources" ng-click="showprof(profile)"><i class="fa fa-list fa-fw"></i></button>
							<!-- <button title="Editar" ng-click="editUser(user)" id="editButton" class="btn btn-success btn-outline btn-xs" data-toggle="modal" data-target="#userForm" ><i class="fa fa-pencil"></i></button> -->
							<!-- <button class="btn btn-success btn-xs" ng-click="edita(profile)" ><i class="fa fa-edit fa-fw"></i>editar</button> -->
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="card-footer p-1">
		<button class="btn btn-default btn-xs pull-right" ng-click="updateTable()">Guardar</button>
	</div>
</div>
<div class="modal fade" id="profileResources" tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header p-1">
				<h6 class="modal-title" id="userFormLabel">Asignación de Recursos - Perfil: {{prof.name}}</h6>
				<button class="btn btn-xs" type="button" class="close" data-dismiss="modal" aria-label="Close">x</button>
			</div>
			<div class="modal-body m-2 p-0" >
				<div class="card">
					<div ng-repeat="a in apps | orderBy: 'name'" class="card-header p-1">
						<input type="checkbox" ng-model="showApp"><i class="{{a.icon}} fa-lg fa-fw"></i><span>{{a.name}}</span>
						<div  class="card" ng-show="a.isVisible">
							<div ng-repeat="m in menu | orderBy: 'name'" class="card-header p-0 pl-3 d-flex flex-wrap" ng-show="showApp&& m.app=='{{a.id}}' ">
								<input type="checkbox" ng-model="showModule" ng-checked="m.isVisible=='1'"><i class="{{m.icon}} fa-lg fa-fw"></i><span>{{m.name}}</span>
								<div class="card-body p-1 pl-5 d-flex flex-wrap" ng-show="showModule">
									<table class="table table-bordered table-condensed align-middle m-0">
									<tr class="bold">
										<th>Objeto</th>
										<th>C</th>
										<th>R</th>
										<th>E</th>
										<th>D</th>
									</tr>
									<tr ng-repeat="r in list | orderBy: 'name'"  ng-show="m.id == r.module&&m.isVisible=='1'">
										<td><input type="checkbox" ng-model="r.inMenu" ng-checked="r.inMenu=='1'"><span>{{r.name}}</span></td>
										<td><input type="checkbox"></td>
										<td><input type="checkbox"></td>
										<td><input type="checkbox"></td>
										<td><input type="checkbox"></td>
									</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="modal-footer justify-content-between"> -->
			<div class="modal-footer">
				<button class="btn btn-outline-success btn-xs" ng-click="saveEmployee(employee)" ><i class="fab fa-telegram-plane mr-1"></i><span>Guardar</span></button>
				<button class="btn btn-outline-dark btn-xs" data-dismiss="modal" ng-click="step=1">Salir</button>
			</div>
		</div>
	</div>
</div>