<div class="card" ng-hide="false">
	<div class="card-header">
		<div class="btn-toolbar float-right">
			<button class="btn btn-outline-primary btn-icon btn-xs" ng-click="add()">Agregar</button>
			<button class="btn btn-outline-secondary btn-xs" ng-click="$state.reload();">Refrescar</button>
		</div>
	</div>
	<div class="card-body">
		<table class="table table-bordered table-hover table-condensed align-middle">
			<tr class="bold">
				<th>Nombre</th>
				<th>Descripcion</th>
				<th>Estado</th>
				<th class="center">Eliminar</th>
			</tr>
			<tr ng-repeat="profile in profiles | orderBy:'id'">
				<td><span editable-text="profile.name" e-name="name" e-form="rowform" required pattern="^[a-zA-Z]*$" ng-pattern-restrict onbeforesave="checkName($data, profile.id)" e-required>{{ profile.name || 'Vacío' }}</span></td>
				<td><span editable-text="profile.description" e-name="description" e-form="rowform" e-reqired>{{ profile.description }}</span>  </td>
				<td><span editable-text="profile.state" e-name="state" e-form="rowform" e-required>{{ profile.state || 'Vacío' }}</span></td>
				<td style="white-space: nowrap">
					<form editable-form name="rowform" onbeforesave="saveUser($data, profile.id, profile.name, profile.state)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == profile">
						<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-xs">Guardar</button>
						<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default btn-xs">Cancelar</button>
					</form>
					<div class="buttons" ng-show="!rowform.$visible">
						<button class="btn btn-primary btn-xs" ng-click="rowform.$show()">editar</button>
						<button class="btn btn-danger btn-xs" ng-click="remove($index)">borrar</button>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="card-footer">
		<button class="btn btn-default btn-xs pull-right" ng-click="updateTable()">Guardar</button>
	</div>
</div>
<div class="card p-0">
	<div class="card-header p-0">
		<div class="btn-toolbar float-right">
			<button class="btn btn-outline-primary btn-xs m-1" ng-click="add()">Agregar</button>
			<button class="btn btn-outline-secondary btn-xs m-1" ng-click="$state.reload();">Refrescar</button>
		</div>
	</div>
	<div class="card-body">Body</div>
	<div  class="card-footer">Footer</div>
</div>

<div class="main-content">
	<div class="clearfix">
		<div class="pull-right">
			<button ng-click="nueva()" type="button" id="nuevoPerfil" class="btn btn-success btn-sm btn-icon"><i class="fa fa-shower"></i>Nuevo Perfil</button>
		</div>
	</div>
	<div class="card-body">
		<div class="card-header">Listado de perfiles</div>
		<table datatable="ng" class="table table-bordered bordered table-striped table-condensed datatable" >
			<thead>
				<tr> 
					<th>Nombre</th>
					<th>Descripcion</th>
					<th>Estado</th>
					<th class="center">Aciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="profile in profiles | orderBy:'id'"> 
					<td>{{ profile.name }}</td>
					<td>{{ profile.description }}</td>
					<td>{{ profile.state_name}}</td>
					<td class="center">
						<button type="button"  ng-click="elimina(profile,$index)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o fa-fw"></i></button>
						<button type="button" ng-click="edita(profile)" class="btn btn-success btn-xs"><i class="fa fa-edit fa-fw"></i></button>
						<button type="button" ng-click="recursos(profile)" class="btn btn-info btn-icon btn-xs"><i class="fa fa-shower fa-fw"></i><span>Resursos</span>	</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
