<!-- <div class="card" id="usersList" ng-show="showUsersList"> -->
<div class="card" id="usersList">
	<div class="card-header p-2 align-items-center">
		<div class="d-flex justify-content-end align-items-center">
			<div class="mr-auto">Listado de usuarios</div>
			<button class="btn btn-primary btn-outline btn-xs mr-1" title="Agregar usuario" ng-click="addUser()" data-toggle="modal" data-target="#userForm"><i class="fa fa-plus mr-1"></i>Nuevo</button>
			<button class="btn btn-outline-dark btn-xs mr-1" title="Refrescar lista" ng-click="loadUsers()"><i class="fa fa-repeat"></i></button>
		</div>
	</div>
	<div class="card-body p-2">
		<table datatable="ng" class="table-hover">
			<thead>
				<tr> 
					<th>Acciones</th>
					<th>Usuario y Correo</th>
					<th>Nombre</th>
					<th>Perfil</th>
					<th>Teléfono</th>
					<th>Empleado</th>
					<th>Estado</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users | orderBy:'id'" ng-show="user.userName!='root'" > 
					<td align="left">
						<a href="javascript:;" class="btn btn-outline-success btn-xs p-0" title="Editar" ng-click="editUser(user)" id="editButton" data-toggle="modal" data-target="#userForm"><i class="fa fa-pencil fa-fw"></i></a>
						<a href="javascript:;" class="btn btn-outline-primary btn-xs p-0" title="Cambiar Contraseña" ng-click=""><i class="fa fa-key fa-fw"></i></a>
						<a href="javascript:;" class="btn btn-outline-danger btn-xs p-0" title="Eliminar" ng-click=""><i class="fa fa-trash fa-fw"></i></a>
					</td>
					<td>
						<div class="d-flex justify-content-start align-items-center"">
							<img data-ng-src="src/images/{{user.avatar}}" class="header-avatar img-circle " height="35" alt="User?" title="{{user.fname}}">
							<div>
								<div>{{ user.userName || '-' }}</div>
								<div>{{ user.email || '-' }}</div>
							</div>
						</div>
					</td>
					<td>{{ user.firstName || '-' }}</td>
					<td>{{showProfile(user)}}</td>
					<td>{{ user.phone || '-' }}</td>
					<td>{{showEmployee(user)}}</td>
					<td><div class="d-flex">
						<!-- <div class="option mr-1"><label class="switch switch-sm"><input type="checkbox" ng-model="user.isActive"><span><i class="handle"></i></span></label></div> -->
						<div>{{ user.isActive==1 ? 'Activo' : 'Inactivo' || '-' }}</div></div>
					</td>
					<!-- <button type="button" ng-click="elimina(user,$index)" class="btn btn-danger btn-outline btn-xs"><i class="fa fa-trash-o"></i></button> -->
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="modal fade" id="userForm" tabindex="-1" role="dialog" aria-labelledby="userFormLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header p-1">
				<h5 class="modal-title" id="userFormLabel">{{accion}} usuario</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-1">
			<form name="frm" novalidate>
				<div class="form-group m-1" ng-class="{ 'has-error' : frm.userName.$invalid && frm.userName.$touched, 'has-success' : frm.userName.$valid }">
					<label class="form-control-label m-1" for="userName">Usuario</label>  
					<input type="text" class="form-control form-control-sm" id="1" name="userName" minlength="5" maxlength="15" pattern="^[a-zA-Z]*$" ng-model="user.userName" ng-pattern-restrict required ng-disabled="!canEditUser">
					<small style="color:maroon; font-size:10px; font-weight:bold" ng-show="frm.userName.$invalid && frm.userName.$touched">Ingrese un nombre de 5 a 15 caracteres.</small>
				</div>
				<div class="form-group m-1" ng-hide="!canEditUser">
					<label class="form-control-label m-1"  for="password">Contraseña</label>  
					<input type="password" class="form-control form-control-sm" minlength="5" maxlength="12" id="2" name="password" ng-model="user.password" ng-required="canEditUser"  >
				</div>
				<div class="form-group m-1" ng-class="{ 'has-error' : frm.employeeId.$invalid && frm.employeeId.$touched, 'has-success' : frm.employeeId.$valid }"  ng-hide="!canEditUser">
					<label class="form-control-label m-1" ><input type="checkbox" ng-model="isEmployee" ng-change="showNotUser(0)"> Es empleado</label>
					<select class="form-control form-control-sm" name="employeeId" ng-model="user.employeeId" ng-options="e.id as e.firstName for e in notUsers | orderBy:'firstName'" ng-show="isEmployee" ng-required="isEmployee&&!canEditUser" ng-change="showNotUser(user)" ></select>
					<small style="color:maroon; font-size:10px; font-weight:bold" ng-show="frm.employeeId.$invalid && frm.employeeId.$touched">Selecciones un empleado.</small>
				</div>
				<div class="form-group m-1" ng-show="!canEditUser">
					<label class="form-control-label m-1"  for="userName">Empleado</label>  
					<input type="text" class="form-control form-control-sm" ng-model="userName" ng-disabled="!canEditUser">
				</div>
				<div class="form-group m-1" ng-class="{ 'has-error' : frm.email.$invalid && frm.email.$touched, 'has-success' : frm.email.$valid }">
					<label class="form-control-label m-1"  for="email">Correo</label>
					<input type="email" class="form-control form-control-sm" id="3" name="email" ng-model="user.email" ng-pattern-restrict required>
					<small style="color:maroon; font-size:10px; font-weight:bold" ng-show="frm.email.$invalid && frm.email.$touched">Dirección inválida.</small>
				</div>
				<div class="form-group m-1" ng-class="{ 'has-error' : frm.phone.$invalid && frm.phone.$touched, 'has-success' : frm.phone.$valid }">
					<label class="form-control-label m-1"  for="phone">Telefono</label>
					<input type="text" class="form-control form-control-sm" id="4" name="phone" minlength ="8" maxlength="8" ng-model="user.phone" pattern="^[0-9]*$" ng-pattern-restrict required>
					<small style="color:maroon; font-size:10px; font-weight:bold" ng-show="frm.phone.$invalid && frm.phone.$touched">Número telefónico inválido.</small>
				</div>
				<div class="form-group m-1" ng-class="{ 'has-error' : frm.profileId.$invalid && frm.profileId.$touched, 'has-success' : frm.profileId.$valid }">
					<label class="form-control-label m-1"  for="profileId">Perfil</label>
					<select class="form-control form-control-sm" name="profileId" ng-model="user.profileId" ng-options="p.id as p.name for p in profiles" required>
						<option value="">-- Seleccione un Perfil --</option>
					</select>
					<small style="color:maroon; font-size:10px; font-weight:bold" ng-show="frm.profileId.$invalid && frm.profileId.$touched">Seleccione un perfil.</small>
				</div>
				<div class="form-group m-1" ng-hide="canEditUser">
					<label class="form-control-label m-1"  for="estado">Estado</label>
					<select class="form-control form-control-sm" name="isActive" ng-model="user.isActive" required ng-disabled="canEditUser">
						<option value="1">Activo</option>
						<option value="0">Inactivo</option>
					</select>
				</div>
			</form>
			</div>
			<div class="modal-footer p-1">
				<button class="btn btn-default btn-outline btn-xs pull-right " ng-click="saveUser(user)" ng-disabled="!frm.$valid"><i class="fa fa-send mr5"></i><span>Guardar</span></button>
				<button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>

<!--div class="panel">
	<div class="panel-heading">
		<button class="btn btn-default btn-xs pull-right" ng-click="addUser()">Agregar</button>
		<button class="btn btn-default btn-xs pull-right" ng-click="$state.reload();">Refrescar</button>
	</div>
	<div class="panel-body">
		<table class="table table-bordered table-hover table-condensed align-middle">
			<thead><tr class="bold"><td >Usuario</td><td >Nombre</td><td >Perfil</td><td >Correo</td><td >Teléfono</td><td >Empleado</td><td >Estado</td><td >Acciones</td></tr>	</thead>
			<tr ng-repeat="user in users">
				<td>
					<span editable-text="user.userName" 
					edit-disabled="{{user && user.userName !== null}}" 
					e-name="userName" e-form="rowform" e-ng-maxlength="10" e-ng-pattern="^[a-zA-Z]*$" e-ng-pattern-restrict 
					onbeforesave="checkName($data, user.id, user.userName)" e-required>
					{{ user.userName || 'Vacío' }}</span>
				</td>
				<td>
					<span editable-text="user.firstName" 
					e-name="firstName" e-form="rowform" e-maxlength="20" e-pattern="^[a-zA-Z]*$" e-ng-pattern-restrict 
					onbeforesave="checkName($data, user.id, user.userName, user.password, user.employeeId)" e-required>
					{{ user.firstName || 'Vacío' }}</span>
				</td>
				<td><span editable-select="user.profileId" e-name="profileId" e-form="rowform" e-ng-options="p.id as p.name for p in profiles">{{showProfile(user)}}</span></td>
				<td><span editable-text="user.email" e-name="email" e-form="rowform" e-reqired>{{ user.email || 'Vacío' }}</span> </td>
				<td><span editable-text="user.phone" e-name="phone" e-form="rowform" maxlength="8" pattern="^[0-9]*$" ng-pattern-restrict e-required>{{ user.phone || 'Vacío' }}</span></td>
				<td>
					<span editable-select="user.employeeId" 
					edit-disabled="{{user && user.employeeId !== null}}" e-name="employeeId" e-form="rowform" 
					e-ng-options="e.id as e.firstName for e in employees">
					{{showEmployee(user)}}</span>
				</td>
				<td><span text="user.isActive" e-name="isActive" e-form="rowform" e-required>{{ user.isActive==1 ? 'Activo' : 'Inactivo' || 'Vacío' }}</span></td>
				<td style="white-space: nowrap">
					<form editable-form name="rowform" onbeforesave="saveUser($data, user.id, user.userName, user.password, user.emplyeeId)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
						<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-xs">Guardar</button>
						<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default btn-xs">Cancelar</button>
					</form>
					<div class="buttons" ng-show="!rowform.$visible">
						<button class="btn btn-primary btn-xs" ng-click="rowform.$show()">editar</button>
						<button class="btn btn-danger btn-xs" ng-click="removeUser($index)">borrar</button>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="panel-heading">
		<button class="btn btn-default btn-xs pull-right" ng-click="updateTable()">Guardar</button>
	</div>
</div>